.fx{
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	pointer-events:none;
	opacity:0;
	z-index: 3;
}

:root{
	--rainfall-intensity: 0;
	--snowfall-intensity: 0;
	--windspeed-intensity: 0;
	--temperature-intensity: 0;
}

.fx-rain{ opacity: calc(0.9 * var(--rainfall-intensity)); }
.fx-snow{ opacity: calc(0.9 * var(--snowfall-intensity)); }
body.weather-rain{ --rainfall-intensity: var(--weather-intensity, 1); }
body.weather-wind .fx-wind{ opacity: calc(0.9 * var(--weather-intensity)); }
body.weather-hot  .fx-hot{  opacity: calc(0.9 * var(--weather-intensity)); }
body.weather-cold .fx-cold{ opacity: calc(0.9 * var(--weather-intensity)); }

/* Rain */
.drop{ fill: rgb(82 172 249 / 65%); filter: blur(0.2px); animation: rainFall 1.2s linear infinite; animation-fill-mode: backwards; }
.drop.d2{ opacity:0.25; }
.drop.d3{ opacity:0.22; }
@keyframes rainFall{
	from{
		transform:
			translate(var(--rain-start-x, 0px), var(--rain-start-y, -100px))
			rotate(var(--rain-tilt, 0deg));
	}
	to{
		transform:
			translate(var(--rain-end-x, 0px), var(--rain-end-y, 100px))
			rotate(var(--rain-tilt, 0deg));
	}
}

/* Snow */
.flake{ fill: #fff; filter: blur(1px); will-change: transform; }

/* Wind */
body.weather-wind .char{ animation: windSway 2.8s ease-in-out infinite; }
@keyframes windSway{
	0%,100%{ transform: translate(-0.6vmin, 0.4vmin) rotate(-0.8deg); }
	50%{ transform: translate(0.8vmin, -0.4vmin) rotate(1deg); }
}
.streak{ stroke: rgb(255 255 255 /0.18); stroke-width:6; stroke-linecap:round; animation: streakMove 1.6s linear infinite; }
.streak.s2{ animation-duration: 2.2s; opacity:0.12; }
@keyframes streakMove{
	from{ transform: translateX(-20%); }
	to{ transform: translateX(140%); }
}

/* Hot */
.sweat{ fill: rgb(255 129 0 / 30%); animation: sweatDrip 2.6s ease-in-out infinite; }
@keyframes sweatDrip{
	0%,60%{ transform: translateY(-6px); opacity:0; }
	70%{ opacity:0.6; }
	100%{ transform: translateY(40px); opacity:0; }
}

/* Cold */
body.weather-cold .char{ animation: coldShiver 0.22s infinite alternate; }
@keyframes coldShiver{
	from{ transform: translate(-1px,1px); }
	to{ transform: translate(1px,-1px); }
}
.breath{ fill: rgb(82 172 249 / 26%); filter: blur(6px); animation: breath 3.2s infinite; }
@keyframes breath{
	0%{ opacity:0; transform: translate(230px,350px) scale(0.8); }
	18%{ opacity:0.55; }
	60%{ opacity:0.0; }
	100%{opacity:0.0;  transform: translate(600px,-100px) scale(1.5); }
}
