:host {
    display: block;
    height: 100%;
}

ha-card {
    height: 100%;
    overflow: hidden;
    border-radius: var(--ha-card-border-radius, 12px);
    background-color: #000000;
}

.wrap {
    height: 100%;
    width: 100%;
}

iframe{
    border: 0;
    width: 100%;
    height: 100%;
    display: block; 
}
img {
    border: 0;
    /*width: 100%;
    height: 100%;*/
    display: block;
    margin:auto;
    object-fit: cover;
}


.hidden {
    display: none !important;
}
