/* todo auto format */
.group {
    margin-bottom: 24px;
    border: 1px solid var(--divider-color);
    border-radius: 8px;
    padding: 12px
}

.row {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
}

.hint {
    display: none;
    font-size: 90%;
    margin-top: 4px;
}

.hint.always {
    display: block;
}

.hint.open {
    display: block;
    padding:6px;
    opacity: 1;
}

.hint .hint-heading{
    display:block;
    font-weight:bold;
    margin-top:10px;
}
.hint .hint-content{
    padding-left:6px;
    font-weight: normal;
    display: block;
}
.tooltip {
    width: 16px;
    height: 16px;
    cursor: help;
    opacity: 1;
    float: right;
}

.fullwidth {
    width: 100%;
}

.double {
    display: flex;
    gap: 12px;
}

.double>* {
    flex: 1 1 0;
    min-width: 0;
}

.entity-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px 12px;
}

.entity-grid .header {
    font-weight: 600;
    border-bottom: 1px solid var(--divider-color);
    padding-bottom: 4px;
}

.entity-grid>div {
    white-space: nowrap;
}

.about-toggle {
    cursor: pointer;
}

.about-toggle:hover{
    text-decoration: underline;
}

.about-content {
    padding-left: 10px;
}
