:root{
	/* 
	  Theme Foundation - All themes inherit from this.
	  To create a new color theme, create a new CSS file 
	  and override the --base-hue variable.
	  e.g. :root { --base-hue: 240; } for blue.
	*/
	--base-hue: 177; /* Teal */
	--glow-hue: calc(var(--base-hue) + 8);

	/* Eyes */
	--sclera-gradient-shadow: hsl(var(--base-hue), 100%, 6%);
	--sclera-gradient-fill: hsl(var(--base-hue), 100%, 39%);
	--sclera-gradient-highlight: #ffffff;
	--sclera-outer-glow: hsl(var(--base-hue), 89%, 62%);
	--sclera-inner-glow: hsl(var(--base-hue), 95%, 28%);
	--sclera-charging-glow: hsl(var(--base-hue), 100%, 68%);

	--iris-fill: #000000;
	--iris-outer-glow: hsl(var(--base-hue), 89%, 62%);
	--iris-inner-glow: hsl(var(--base-hue), 95%, 28%);

	--pupil-fill: #ffffff;
	--pupil-inner-glow: hsl(var(--glow-hue), 100%, 77%);
	--pupil-outer-glow: hsl(var(--glow-hue), 100%, 77%);

	/* Face */
	--mouth-fill: hsl(var(--base-hue), 57%, 64%);
	--mouth-glow: hsl(var(--base-hue), 63%, 50%);

	--brow-fill: hsl(var(--base-hue), 57%, 64%);
	--brow-glow: hsl(var(--base-hue), 100%, 50%);

	/* Tuning knobs */
	--faceScale: 0.60;
	--brightness-level: 1;
	--weather-intensity: 0.8;
}